<form #f=ngForm  (submit)="save3()"> 
    <div class="card-header">
      <br>
  <h1 class="card-title">Detail Fournisseur  </h1>   <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
   
    </button>       
  </div> 
     <div class="mb-3">  
  
         
           <div class="mb-3"> 
              <label for="exampleInputEmail1" class="form-label">nom </label> 
             <input name="nom" [(ngModel)]="DetailFournisseur.nom"  name="nom" type="text" class="form-control">
             </div>
             <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">prenom </label> 
             <input name="prenom" [(ngModel)]="DetailFournisseur.prenom"  name="prenom" type="text" class="form-control">
             </div>
             <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">email </label> 
               <input name="email" [(ngModel)]="DetailFournisseur.email"  name="email" type="text" class="form-control">
               </div>
               <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">numeroTelephone </label> 
               <input name="numeroTelephone" [(ngModel)]="DetailFournisseur.numeroTelephone"  name="numeroTelephone" type="text" class="form-control">
               </div>
      </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-success " (click)="activeModal.close('Close click') " >Submit</button> 
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          </div>
  </form>
    
   
  