<div class="text-right p-3">
	<button class="btn btn-success" (click)="open(mymodal)">Crée un rayon</button>
</div>
<div class="table-responsive">
	<table class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col" class="sort" data-sort="name">Id</th>
				<th scope="col" class="sort" data-sort="budget">Code Rayon</th>
				<th scope="col" class="sort" data-sort="status">Lieblle Rayon</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody class="list">
			<tr *ngFor="let item of rayonsList; index as ind">
				<th scope="row">
					<div class="media align-items-center">
						<a href="#" class="avatar rounded-circle mr-3">
							<img alt="Image placeholder" src="../../assets/img/theme/bootstrap.jpg">
						</a>
						<div class="media-body">
							<span class="name mb-0 text-sm">{{item.idRayon}}</span>
						</div>
					</div>
				</th>
				<td class="budget">
					{{item.codeRayon}}
				</td>
				<td class="budget">
					{{item.libelleRayon}}
				</td>
				<td class="">
					<a (click)="openedit(edit, item)" class="table-action">
						<i class="fas fa-edit"></i>
					</a>
					<a (click)="deleteRayon(item, item.idRayon)" class="table-action table-action-delete">
						<i class="fas fa-trash" style="color:red;"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- Card footer -->
<div class="card-footer py-4">
	<nav aria-label="...">
		<ul class="pagination justify-content-end mb-0">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">
					<i class="fas fa-angle-left"></i>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">
					<i class="fas fa-angle-right"></i>
					<span class="sr-only">Next</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<ng-template #edit let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Editer un Rayon</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="alert alert-danger" *ngIf="errorMessage">
			<strong>Error!</strong>
			{{errorMessage}}
		</div>

		<form class="new-event--form" #f="ngForm" (ngSubmit)="f.form.valid && saveRayon()">
			<div class="form-group">
				<label for="code">
					Code Rayon</label>
				<input type="text" id="code" placeholder="Code Rayon" name="code" class="form-control form-control-alternative" [(ngModel)]="rayon.codeRayon" #code="ngModel" required/>
				<div class="alert alert-danger mt-3" *ngIf="code.invalid && code.touched">
					<small *ngIf="code.errors.required">Code Rayon is a required field</small>
				</div>
			</div>

			<div class="form-group">
				<label for="libelle">
					Libelle Rayon</label>
				<input type="text" id="libelle" placeholder="Libelle Rayon" name="libelle" class="form-control form-control-alternative" [(ngModel)]="rayon.libelleRayon" #libelle="ngModel" required/>
				<div class="alert alert-danger mt-3" *ngIf="libelle.invalid && libelle.touched">
					<small *ngIf="libelle.errors.required">Libelle Rayon is a required field</small>
				</div>
			</div>

			<input type="hidden" class="new-event--start"/>
			<input type="hidden" class="new-event--end"/>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" [disabled]="f.invalid" (click)="editRayon()">Save</button>
			</div>
		</form>
	</div>
</ng-template>

<ng-template #mymodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Crée un Rayon</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="alert alert-danger" *ngIf="errorMessage">
			<strong>Error!</strong>
			{{errorMessage}}
		</div>

		<form class="new-event--form" #f="ngForm" (ngSubmit)="f.form.valid && saveRayon()">
			<div class="form-group">
				<label for="code">
					Code Rayon</label>
				<input type="text" id="code" placeholder="Code Rayon" name="code" class="form-control form-control-alternative" [(ngModel)]="rayon.codeRayon" #code="ngModel" required/>
				<div class="alert alert-danger mt-3" *ngIf="code.invalid && code.touched">
					<small *ngIf="code.errors.required">Code Rayon is a required field</small>
				</div>
			</div>

			<div class="form-group">
				<label for="libelle">
					Libelle Rayon</label>
				<input type="text" id="libelle" placeholder="Libelle Rayon" name="libelle" class="form-control form-control-alternative" [(ngModel)]="rayon.libelleRayon" #libelle="ngModel" required/>
				<div class="alert alert-danger mt-3" *ngIf="libelle.invalid && libelle.touched">
					<small *ngIf="libelle.errors.required">Libelle Rayon is a required field</small>
				</div>
			</div>

			<input type="hidden" class="new-event--start"/>
			<input type="hidden" class="new-event--end"/>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" [disabled]="f.invalid" (click)="saveRayon()">Save</button>
			</div>
		</form>
	</div>
</ng-template>

