<form [formGroup]="myForm" (submit)="edit()">
    <div class="form-group">
        <label>idUser</label>
        <input type="text" class="form-control" formControlName="id">
        </div>
    
    <div class="form-group">
        <label>nom</label>
        <input type="text" class="form-control" formControlName="nom">
        </div>

    <div class="form-group">
        <label>prénom</label>
        <input type="text" class="form-control" formControlName="prenom">
        </div>

    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone">
        </div>

    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username">
        </div>


    <input type="submit" class="btn btn-primary">     
   <!-- <button  [disabled]="myForm.invalid">Edit</button>    -->