<div class="card">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Add Product</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
        <form #f="ngForm" (submit)="save()">
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Code Produit</label>
                <input name="code" [(ngModel)]="product.codeProduit" #code="ngModel" type="text" class="form-control"
                    id="exampleFormControlInput1" placeholder="Code Produit" pattern="[a-zA-Z0-9]*" required>
            </div>
            <div *ngIf="code.touched && code.errors">
                <div class="alert alert-danger" role="alert" *ngIf="code.errors.required">
                    Champ Obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="code.errors.pattern">
                    Le champ doit contenir que des lettres et des chiffres
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Libelle Produit</label>
                <input name="libelle" [(ngModel)]="product.libelleProduit" #libelle="ngModel" type="text"
                    class="form-control" id="exampleFormControlInput1" placeholder="Libelle Produit" pattern="[a-zA-Z]*"
                    required>
            </div>
            <div *ngIf="libelle.touched && libelle.errors">
                <div class="alert alert-danger" role="alert" *ngIf="libelle.errors.required">
                    Champ Obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="libelle.errors.pattern">
                    Le champ doit contenir que des lettres
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Prix Unitaire Produit</label>
                <input name="prixUnitaire" [(ngModel)]="product.prixUnitaire" #prixUnitaire="ngModel" type="text"
                    class="form-control" id="exampleFormControlInput1" placeholder="Prix Unitaire Produit"
                    pattern="[0-9]*" required>
            </div>
            <div *ngIf="prixUnitaire.touched && prixUnitaire.errors">
                <div class="alert alert-danger" role="alert" *ngIf="prixUnitaire.errors.required">
                    Champ Obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="prixUnitaire.errors.pattern">
                    Le champ doit contenir que des chiffres
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlSelect1">Rayon</label>
                <select name="rayon" class="form-control" [(ngModel)]="product.rayon" #rayon="ngModel"
                    class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let r of listRayon" [ngValue]="r">{{r.libelleRayon}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlSelect1">Stock</label>
                <select name="stock" class="form-control" [(ngModel)]="product.stock" #rayon="ngModel"
                    class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let s of listStock" [ngValue]="s">{{s.libelleStock}}</option>
                </select>
            </div>
            <button class="btn btn-primary" [disabled]="f.invalid">Update</button>
            <!-- <button class="btn btn-primary" >List des Produits</button> -->
        </form>
    </div>
</div>