<div class="card" style="width: 18rem;" *ngFor="let p of list">
    <img src="../../assets/produit/IMG_3196.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Id :{{p.idProduit}}</h5>
        <p class="card-text">Code : {{p.codeProduit}}</p>
        <p class="card-text">Nom : {{p.libelleProduit}}</p>
        <p class="card-text">Prix Unitaire : {{p.prixUnitaire}}</p>
        <div>
            <a href="#" class="btn btn-sm btn-primary">View Details</a>
            <button class="btn btn-sm btn-warning" (click)="Modifier(p.idProduit)">Update</button>
            <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.idProduit)">Delete</button>
        </div>
    </div>
</div>