<div class="card">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Add Product</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
        <form #f="ngForm" (submit)="save()">
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Code Produit</label>
                <input name="code" [(ngModel)]="product.codeProduit" #first="ngModel" type="text" class="form-control"
                    id="exampleFormControlInput1" placeholder="Code Produit">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Libelle Produit</label>
                <input name="libelle" [(ngModel)]="product.libelleProduit" #first="ngModel" type="text"
                    class="form-control" id="exampleFormControlInput1" placeholder="Libelle Produit">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlInput1">Prix Unitaire Produit</label>
                <input name="prixUnitaire" [(ngModel)]="product.prixUnitaire" #first="ngModel" type="text"
                    class="form-control" id="exampleFormControlInput1" placeholder="Libelle Produit">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlSelect1">Rayon</label>
                <select name="rayon" class="form-control" [(ngModel)]="product.rayon" #rayon="ngModel"
                    class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let r of listRayon" [ngValue]="r">{{r.libelleRayon}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleFormControlSelect1">Stock</label>
                <select name="stock" class="form-control" [(ngModel)]="product.stock" #rayon="ngModel"
                    class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let s of listStock" [ngValue]="s">{{s.libelleStock}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>