<form #f="ngForm" (submit)="save()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">codeProduit</label>
        <input name="code" [(ngModel)]="product.codeProduit" #first="ngModel" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Libelle</label>
        <input name="libelle" [(ngModel)]="product.libelleProduit" #first="ngModel" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Prix unitaire</label>
        <input name="prixUnitaire" [(ngModel)]="product.prixUnitaire" #first="ngModel" type="text" class="form-control">
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>