<form #f="ngForm">

    <div class="container mt-2">
        <button class="btn btn-primary" (click)="downloadAsPDF()" *ngIf="!facture.active">Export To PDF</button>
        <button class="btn btn-primary" (click)="download()">Direct Download</button>
    </div>
      <div class="container mt-4 mb-3" id="pdfTable" #pdfTable>
        <div class="row d-flex justify-content-center" >
            <div class="col-md-11">
                <div class="card">
                    <div class="d-flex flex-row p-2">
                        <table>
                            <tr>
                                <td>
                                    <img src="../../../assets/img/esprti-removebg-preview.png" alt="" *ngIf="facture.active">
                                </td>
                                <td>
                                    <div class="d-flex flex-column"> <span class="font-weight-bold">Purchase Invoice</span> 
                                        <small>Invoice Number : {{facture.idFacture}}</small> 
                                        <small>Invoice Date : {{facture.dateFacture}} </small>
                                    </div> 
                                </td>
                            </tr>
                        </table>
                         
                    </div>
                    
                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>To</td>
                                    <td>From</td>
                                </tr>
                                <tr class="content">
                                    <td class="font-weight-bold">
                                        <h5 *ngIf="!facture.client">Select Client</h5>
                                        <select name="client" class="form-control" [(ngModel)]="facture.client" *ngIf="facture.active">
                                            <option *ngFor="let c of clients" [ngValue]="c">{{c.nom}}</option>
                                          </select>
                                        <div *ngIf="facture.client">
                                            <br>
                                            Mr/Mrs : {{facture.client.nom}} {{facture.client.prenom}} <br>
                                            E-mail : {{facture.client.email}} <br>
                                            {{facture.client.categorieClient}}                                     
                                        </div>
                                    <td class="font-weight-bold">ESPRIT <br> Ecole Sup Privée d'Ingénierie et de Technologies <br> tunis,Tunisia</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <thead class="thead-light">
                                <tr class="add">
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Discount %</th>
                                    <th scope="col">Discount Amount (DT)</th>
                                    <th scope="col" class="text-center">Total Amount (DT)</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="content" *ngFor="let df of details">
                                    <td>{{df.produit.libelleProduit}}</td>
                                    <td>{{df.qte}}</td>
                                    <td>{{df.pourcentageRemise}} %</td>
                                    <td class="text-center">{{df.montantRemise}} DT</td>
                                    <td class="text-center">{{df.prixTotal}} DT</td>
                                    <td>
                                        <button class="btn btn-sm btn-success" (click)="setUpdateDetailFacture(df)" *ngIf="facture.active"><i class="fa fa-wrench" aria-hidden="true"> </i></button>  
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" (click)="deleteDetailFacture(df.idDetailFacture)" *ngIf="facture.active"><i class="fa fa-times" aria-hidden="true"> </i></button>
                                
                                    </td>
                                </tr>
                                <tr class="content" [hidden]="!facture.active">
                                    <td>
                                        <select name="product" #product="ngModel" class="form-control" [(ngModel)]="detailFacture.produit" required (change)="calculerDetailFactureElements()">
                                        <option *ngFor="let p of produits" [ngValue]="p" >{{p.libelleProduit}}</option>
                                      </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number"  name="quantity" [(ngModel)]="detailFacture.qte" #quantity="ngModel" required min="1" (change)="calculerDetailFactureElements()">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" name="discount" [(ngModel)]="detailFacture.pourcentageRemise" #discount="ngModel" required min="0" (change)="calculerDetailFactureElements()">
                                    </td>
                                    <td class="text-center">{{detailFacture.montantRemise}} DT</td>
                                    <td class="text-center">{{detailFacture.prixTotal}} DT</td>
                                    <td *ngIf="!detailFacture.idDetailFacture">
                                        <button class="btn btn-sm btn-success" (click)="saveOrUpdateDetailFacture()" ><i class="fa fa-check" aria-hidden="true"> add</i></button>
                                    </td>
                                    <td *ngIf="detailFacture.idDetailFacture">
                                        <button class="btn btn-sm btn-success" (click)="saveOrUpdateDetailFacture()"><i class="fa fa-check" aria-hidden="true"> Update</i></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" (click)="cancelDetailFacture()" ><i class="fa fa-times" aria-hidden="true"> cancel</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="product.errors && product.touched ">
                                <div class="alert alert-danger" role="alert" *ngIf="product.errors.required">
                                    Choose product
                                </div>
                        </div> 
                        <div *ngIf="quantity.errors && quantity.touched ">
                                <div class="alert alert-danger" role="alert" *ngIf="quantity.errors.required">
                                    Quantity required
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="quantity.errors.min">
                                    Quantity must be a positive integer
                                </div>
                        </div>
                        <div *ngIf="discount.errors && discount.touched ">
                            <div class="alert alert-danger" role="alert" *ngIf="discount.errors.required">
                                discount required it can be set to zero "0"
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="discount.errors.min">
                                discount can't be negative
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td></td>
                                    <td>Subtotal (DT)</td>
                                    <td>Total Discount (DT)</td>
                                    <td>Paid or Not</td>
                                    <td class="text-center">Total (DT)</td>
                                </tr>
                                <tr class="content">
                                    <td></td>
                                    <td>{{facture.montantFacture}} DT</td>
                                    <td>{{facture.montantRemise}} DT</td>
                                    <td *ngIf="facture.active" style="color: red;">Not paid</td>
                                    <td *ngIf="!facture.active" style="color: green;">Paid</td>
                                    <td class="text-center">{{facture.montantTotal}} DT</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="message">
                        {{message}}
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row">
                              <div class="col-sm" >
                                  <button class="btn btn-danger" (click)="deleteFacture()"><i class="fa fa-trash" aria-hidden="true"> Delete </i></button>
                              </div>
                              <div class="col-sm">
                                <button class="btn btn-warning" (click)="saveFacture()" *ngIf="facture.active"><i class="far fa-save"> Save </i></button>
                              </div>
                              <div class="col-sm">
                                  <button class="btn btn-success" (click)="payFacture()" *ngIf="facture.active"><i class="fas fa-cash-register"> Pay </i></button>
                              </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="address p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td><h3>Bank Details</h3></td>
                                </tr>
                                <tr class="content">
                                    <td> Bank Name : AMEN BANK <br> Swift Code : 123456789 <br> Account Holder : ESPRIT<br> Account Number : 123456789 <br> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </form>
    